# Assignment No. 1

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*

'hello'

-87.8

-

/

+

6

    Answer-    Values - 'hello', -87.8, 6

            Expressions  - /, +, -,*

2. What is the difference between string and variable?

    Answer -  String - string is a collection of characters that are enclosed in a quotes. It is a data type in python. It can be written in single,double or triple quotes.eg- 'hello world',"hello world","'hello world'"

           Variable - Variable is the name give to memory location or a container used to hold values. where It can be any integer, string or float value.

3. Describe three different data types.

    Answer - a) Integer - Integer is the number which can be positive, negative and even zero. eg. 0, -23, 5.

         b) float - float is number in which decimal point is present eg. 5.23, 78.5 etc.

         c) Boolean - boolean is use to represent generally two values i.e, True or False, it is use in expression to test whether the result is True or False.

4. What is an expression made up of? What do all expressions do?

    Answer - An expression is made up of values and functions that together combined and produces the other value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

    Answer - Statement - Statement is basically a standalone unit that doesn't produce any result.

         Expression - An expression is made up of values and functions that together combined and produces the other value.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [10]:
bacon = 22
b = bacon + 1
print("the variable bacon contains : ", b)

the variable bacon contains :  23

7. What should the values of the following two terms be?
'spam'+'spamspam' 
'spam'*3

In [11]:
x = 'spam'+'spamspam'
print(x)

spamspamspam

In [12]:
y = 'spam'*3
print(y)

spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

    Answer - variable can't be a digit only. it contains digit but the condition is it can be only started with alphabates, underscores. so eggs is valid variable name and 100 invalid.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

    Answer - int(), float(), str()

10. Why does this expression cause an error? How can you fix it?

'I have eaten' + 99 + 'burritos'   this expression contains error because 99 is integer value and rest of the two are string type value. thats why we are facing error. for fixing this expression we have to put 99 also in quotes. so as to convert 99 which is integer type value into string type.

In [15]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [18]:
'I have eaten' + ' 99 ' + 'burritos.'

'I have eaten 99 burritos.'